@use "../abstracts/index" as *;
.footer{
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 5rem;
    @include responsive(medium){
        margin-top: 8rem;
        margin-bottom: 4rem;
    }
    @include responsive(small){
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
    @include responsive(xsmall){
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    &__content{
        width: 100%;
        &__logo{
            width: 15rem;
            @include responsive(medium){
                width: 15rem;
            }
            @include responsive(small){
                width: 13rem;
            }
            @include responsive(xsmall){
                width: 11rem;
            }
            img{
                width: 100%;
            }
        }
        &__links{
            
            &__heading{
                font-size: 2.2rem;
                margin-top: 4rem;
                @include responsive(medium){
                    font-size: 2rem;
                    margin-top: 3.5rem;
                }
                @include responsive(small){
                    font-size: 1.8rem;
                    margin-top: 3rem;
                }
                @include responsive(xsmall){
                    font-size: 1.6rem;
                    margin-top: 2.5rem;
                }
            }
            &__link{
                list-style: none;
                text-decoration: none;
                font-size: 1.8rem;
                color: $grey;
                @include responsive(medium){
                    font-size: 1.7rem;
                }
                @include responsive(small){
                    font-size: 1.6rem;
                }
                @include responsive(xsmall){
                    font-size: 1.5rem;
                }
                li{
                    margin-top: 2rem;
                    &:hover{
                        color: $black;
                    }  
                    @include responsive(medium){
                        margin-top: 1.8rem;
                    }
                    @include responsive(small){
                        margin-top: 1.6rem;
                    }
                    @include responsive(xsmall){
                        margin-top: 1.4rem;
                    }
                }
                
            }
        }
        &__bottom{
            margin-top: 10rem;
            @include responsive(medium){
                margin-top: 8rem;
            }
            @include responsive(small){
                margin-top: 6rem;
            }
            @include responsive(xsmall){
                margin-top: 4rem;
            }
            &__rights{
                font-size: 1.8rem;
                color: $grey;
                @include responsive(medium){
                    font-size: 1.6rem;
                }
                @include responsive(small){
                    font-size: 1.4rem;
                }
                @include responsive(xsmall){
                    font-size: 1.2rem;
                }
            }
            &__contact{
                list-style: none;
                font-size: 1.8rem;
                line-height: 2rem;
                @include responsive(medium){
                    font-size: 1.6rem;
                }
                @include responsive(small){
                    font-size: 1.4rem;
                }
                @include responsive(xsmall){
                    font-size: 1.2rem;
                }
                a{
                    text-decoration: none;
                    color: $grey;
                    margin-right: .8rem;
                    &:hover{
                        color: $black;
                    }
                }
            }
        }
    }
}