@use "../abstracts/variables" as *; 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    // font 10px * 100 / 16px = 62.5%
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Tajawal', sans-serif;
}