$white:white;
$black: black;
$grey: gray;
$dark-grey50:rgb(50, 50, 50);
$dark-grey70:rgb(70, 70, 70);
$dark-grey90:rgb(90, 90, 90);
$dark-grey110:rgb(110, 110, 110);

$blue:blue;
$light-blue60:rgb(60, 60, 255);
$light-blue100:rgb(100, 100, 255);

$orange:orangered;

$pink:rgb(255, 60, 93);